# Homework 4 SQL Queries

Q1. Give a count of all the videos currently out.

In [2]:
SELECT COUNT(rental_id) AS "count of videos out"
FROM rental
WHERE return_date IS NULL;

SyntaxError: invalid syntax (<ipython-input-2-7e2e02332b73>, line 1)

Q2. Make a list of all customer names who have videos out and how much they owe.

In [ ]:
SELECT customer.first_name, customer.last_name, payment.amount FROM 
(
    SELECT rental_id, customer_id
    FROM rental
    WHERE return_date IS NULL  
) AS SUBQUERY
INNER JOIN customer ON SUBQUERY.customer_id = customer.customer_id
INNER JOIN payment ON SUBQUERY.rental_id = payment.rental_id;

Q3. What hour of the day do people rent the most?

In [ ]:
#split rental date column into two columns: date and hour
SELECT left(rental_date, CHARINDEX(' ', rental_date)) AS RentalDate,
substring(Rental_date, CHARINDEX(' ', rental_date)+1, len(rental_date)-(CHARINDEX(' ', Rental_date)-1)) AS RentalHour
FROM rental
#the program reminds that CHARINDEX doesn't exist

#count the appearances of each hour and make a list
#use a SQL operator to find the max


SELECT cast(rental_date AS time) [time]
FROM rental;

Q4. Which store is more profitable, assuming all movies cost $15 per inventory item to purchase.

In [ ]:
#sales - revenue
#= total sales - sales quantity * 15
#sales - count(inventory_id)*15

#the query to get total sales
SELECT subquery2.store_id AS store, sales_by_store.total_sales AS sales FROM
(
	SELECT concat(staff.first_name, ' ', staff.last_name) AS name, store_id
	FROM staff
) AS subquery2
INNER JOIN sales_by_store ON subquery2.name = sales_by_store.manager;

#query to get cost of each store
SELECT 15*COUNT(inventory.inventory_id) AS cost, store_id AS store
FROM inventory
GROUP BY store_id;

#query to union cost, sales and store id into one table
SELECT SUBQUERY2.store AS STORE, SUBQUERY2.sales AS SALES, SUBQUERY1.cost AS COST
FROM
(
    SELECT subquery2.store_id AS store, sales_by_store.total_sales AS sales 	FROM
    (
        SELECT concat(staff.first_name, ' ', staff.last_name) AS name, 		store_id
        FROM staff
    ) AS subquery2
    INNER JOIN sales_by_store ON subquery2.name = sales_by_store.manager
) AS SUBQUERY2
INNER JOIN 
(
    SELECT 15*COUNT(inventory.inventory_id) AS cost, store_id AS store
    FROM inventory
    GROUP BY store_id
) AS SUBQUERY1 ON SUBQUERY1.store = SUBQUERY2.store;

#the overal query to get profit
SELECT (OVERALLQUERY.SALES - OVERALLQUERY.COST) AS PROFIT, OVERALLQUERY.STORE AS STORE
FROM
(
    SELECT SUBQUERY2.store AS STORE, SUBQUERY2.sales AS SALES, SUBQUERY1.cost AS COST
    FROM
(
    SELECT subquery2.store_id AS store, sales_by_store.total_sales AS sales 	FROM
    (
        SELECT concat(staff.first_name, ' ', staff.last_name) AS name, 		store_id
        FROM staff
    ) AS subquery2
    INNER JOIN sales_by_store ON subquery2.name = sales_by_store.manager
) AS SUBQUERY2
INNER JOIN 
(
    SELECT 15*COUNT(inventory.inventory_id) AS cost, store_id AS store
    FROM inventory
    GROUP BY store_id
) AS SUBQUERY1 ON SUBQUERY1.store = SUBQUERY2.store
) AS OVERALLQUERY;